[Unit]
Description=OTA bootloader update verifier
After=nvstartup.service dev-disk-by\x2dpartlabel-kernel.device

[Service]
Type=simple
ExecStart=/usr/sbin/nv_update_engine --verify

[Install]
WantedBy=multi-user.target
