# Disable all usb devices per default (only hot-plugging)
SUBSYSTEM=="usb", KERNEL=="usb1", ACTION=="bind", ATTR{authorized_default}="0"
SUBSYSTEM=="usb", KERNEL=="usb2", ACTION=="bind", ATTR{authorized_default}="0"

# Disable all non usb hubs directly after boot
SUBSYSTEM=="usb", ATTR{bDeviceClass}!="09", ACTION=="bind", TEST=="authorized", ATTR{authorized}="0"

# Whitelist specific roclub usb devices
SUBSYSTEM=="usb", ATTR{idVendor}=="1bd2", ATTR{idProduct}=="2cb5", ACTION=="add|change|bind", TEST=="authorized", ATTR{authorized}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="114d", ATTR{idProduct}=="3420", ACTION=="add|change|bind", TEST=="authorized", ATTR{authorized}="1"

# Create symlinks for webcams according to usb port
SUBSYSTEM=="video4linux", KERNELS=="1-3.1", ACTION=="add|change|bind", SYMLINK+="operator-camera"
SUBSYSTEM=="video4linux", KERNELS=="1-3.2", ACTION=="add|change|bind", SYMLINK+="scanner-camera"
SUBSYSTEM=="video4linux", KERNELS=="1-2.4", ACTION=="add|change|bind", SYMLINK+="additional-camera"

# Create symlinks for conference speaker
SUBSYSTEM=="usb", KERNEL=="1-3.3", ATTRS{idVendor}=="114d", ATTRS{idProduct}=="3420", ACTION=="add|change|bind", SYMLINK+="microphone"
SUBSYSTEM=="usb", KERNEL=="1-3.3", ATTRS{idVendor}=="114d", ATTRS{idProduct}=="3420", ACTION=="add|change|bind", SYMLINK+="speaker"