[Unit]
Description=NVIDIA power management setup
Before=graphical.target display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/nvpower.sh

[Install]
WantedBy=multi-user.target
