[Unit]
Description=NVIDIA power model setup
Requires=nvpower.service
After=systemd-modules-load.service nvpower.service
Before=graphical.target display-manager.service weston.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nvpmodel -f /etc/nvpmodel.conf

[Install]
WantedBy=multi-user.target
