[Unit]
Description=NVIDIA power model daemon
Requires=nvstartup.service
After=nvstartup.service
Before=graphical.target display-manager.service

[Service]
Type=oneshot
RemainAfterExit=on
ExecStart=/usr/sbin/nvpmodel -f /etc/nvpmodel.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
