[Unit]
Description=NVIDIA-specific startup
DefaultDependencies=no
Before=graphical-session-pre.target
Before=serial-getty@ttyS0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nvstartup

[Install]
WantedBy=basic.target
