[Match]
Name=l4tbr0

[Network]
Address=192.168.55.1/24
DHCPServer=yes

[DHCPServer]
PoolOffset=100
PoolSize=1
DefaultLeaseTimeSec=900
EmitTimezone=no
EmitDNS=no
EmitNTP=no
EmitSIP=no
EmitRouter=no

[Route]
Gateway=192.168.55.100
GatewayOnLink=yes
Metric=32766
