[Unit]
Description=NVIDIA Argus daemon
After=local-fs.target network.target

[Service]
Type=forking
PIDFile=/run/argus-daemon.pid
ExecStart=/sbin/start-stop-daemon --start --quiet --pidfile /run/argus-daemon.pid --make-pidfile --background --exec /usr/sbin/argus_daemon
ExecStop=/sbin/start-stop-daemon --stop --quiet --pidfile /run/argus-daemon.pid --retry 3
Restart=on-failure

[Install]
WantedBy=multi-user.target
