[Unit]
Description=NVIDIA power model daemon
Requires=nvstartup.service
After=nvstartup.service
Before=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nvpmodel -f /etc/nvpmodel.conf

[Install]
WantedBy=multi-user.target
