# CONFIG_BOOT_NATIVE_ANDROID_PARTITION_SUPPORT is not set
# CONFIG_BOOT_NVIDIA_CUSTOM_OPTION_DESCRIPTION is not set
# CONFIG_BOOT_ANDROID_FASTBOOT is not set
# CONFIG_SINGLE_BOOT_NONE is not set
CONFIG_SINGLE_BOOT_L4T_LAUNCHER=y
# CONFIG_LOGO is not set
# CONFIG_SHELL is not set
# CONFIG_SHELL_LEVEL_INTERACTIVE is not set
# CONFIG_SHELL_LEVEL_1_SUPPORTED is not set
# CONFIG_SHELL_LEVEL_2_SUPPORTED is not set
# CONFIG_SHELL_LEVEL_3_SUPPORTED is not set
# CONFIG_SHELL_DEBUG_COMMANDS is not set
# CONFIG_SHELL_DRIVER_COMMANDS is not set
# CONFIG_SHELL_NETWORK_COMMANDS is not set
# CONFIG_NVIDIA_SHELL_APPLICATIONS is not set
